/* Footer */


/* Digital Clock */
body {
    font-family: "Work Sans", sans-serif;
}
.time {
    background: #fff;
    color: #000;
    padding: 8px;
    text-align: center;
    width: 300px;
}
.hms {
    font-size: 48pt;
    font-weight: 200;
}
.ampm {
    font-size: 12pt;
}
.date {
    font-size: 10pt;
}